<div id="<%= dom_id complaint %>">
  <p>
    <strong>Telephone:</strong>
    <%= complaint.telephone %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= complaint.kind %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= complaint.status %>
  </p>

</div>
