<%= stylesheet_link_tag 'index' %>
<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Faculties of NITK</h1>
      <p class="lead my-3">A one-stop place to get in touch with top facullties of NITK</p>
      <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold"><%= render 'filter_form' %></a></p>
    </div>
  </div>
<%= render 'faculty_list', faculties: @faculties %>
</main>

<div class="main-container">
  <div class="nitk-header">

  </div>
  <div class="telephone-header">

  </div>
  <div class="content">
    <div class="content-list">

    </div>
    <div class="search-area">
      <div class="search-header">

      </div>
      <div class="search-data">

      </div>
    </div>
  </div>
</div>
