<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  body {
    text-align: center;
  }

  table {
    width: 80%; 
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #06692cf9;
    color: #fff;
  }
</style>
</head>
<body>

<table>
  <h2>Administrators</h2>
  <thead>
    <tr>
      <th>Unit</th>
      <th>Department/Center/Section</th>
      <th>Name of Faculty/Staff</th>
      <th>Email ID</th>
      
      
    </tr>
  </thead>
  <tbody>
    <!-- Add your data rows here -->
    <tr>
      <td>Administration</td>
      <td> Administration</td>
      <td> Mr. Prateek</td>
      <td>b1-assistant@nitk.edu.in</td>
      
      
    </tr>
    <tr>
      
      <td rowspan="15">Academics</td>
      <td> Dept. of Chemical Engineering</td>
      <td> Mr. M. Rajasekkaran</td>
      <td>rajasekaran@nitk.edu.in</td>
      
      
    </tr>
    <tr>
      
      
      <td> Dept. of Chemistry</td>
      <td> Mr. Pradeep Crasta</td>
      <td> pradeepcrasta@gmail.com</td>
    
      
    </tr>
    <tr>
      
     
      <td> Dept. of Civil Engineering</td>
      <td> Dr. Vijay </td>
      <td>vj@nitk.edu.in </td>
      
      
    </tr>
    <tr>
     
    
      <td> Dept. of Computer Science and Engineering</td>
      <td> Mr. Pradeep D.</td>
      <td>  pradeepd@nitk.edu.in</td>
      
    </tr>

      <tr>
      
      <td> Dept. of  Electrical and Electronics Engineering</td>
      <td> Sunitha </td>
      <td>  programmereed@nitk.edu.in</td>
     
      
    </tr>
    
    
    <tr>
    
      <td> Dept. of  Electronics and Communication Engineering</td>
      <td>Shikha Baghel </td>
      <td> shikhabaghel@nitk.edu.in</td>
     
      
    </tr>

      <tr>
    
      <td> Dept. of Information Technology</td>
      <td> Mr Abey Eliyas</td>
      <td>abey@nitk.edu.in </td>
    
    
    </tr>

    <tr>
      
      <td> Dept. of  Mathematical and Computational Sciences</td>
      <td>Dr. Vidyadhan Upadhya </td>
      <td>vidyadhar.upadhya@nitk.edu.in </td>
      
    </tr>

    <tr>
      
     
      <td rowspan="2">Dept. of Mechanical Engineering</td>
      <td> Dr. Mervin Joe Thomas</td>
      <td> mervinthomas@nitk.edu.in</td>
      
    </tr>

    <tr>
      
      
     
      <td>  Karunya G.</td>
      <td> karunya313@gmail.com </td>
      
    </tr>

    <tr>
      
  
      <td> Dept. of Metallurgical and Materials Engineering</td>
      <td> Dr. Lipak Kumar</td>
      <td>  lipak@nitk.edu.in </td>
      
    </tr>

    <tr>
      
   
      <td> Dept. of  Mining  Engineering</td>
      <td> Shreyas</td>
      <td>  jainshreyas911@gmail.com </td>
     
    </tr>

    <tr>
      
     
      <td> Dept. of Physics</td>
      <td> Anand Das</td>
      <td>  ananddastk@gmail.com </td>
      
    </tr>

    
    <tr>
      
     
      <td> Dept. of Water Resources & Ocean Engg</td>
      <td> Sweekritha</td>
      <td>  sweekrithab@gmail.com  </td>
     
    </tr>

    <tr>
      
     
      <td> School of Humanities and Social Sciences</td>
      <td>  Dr. Savita Bhat</td>
      <td>   savitapbhat@nitk.edu.in </td>
     
    </tr>

    <tr>
      
      <td rowspan="2">Research</td>
      <td rowspan="2">Central Research Facility</td>
      <td>   Nishanth Kumar</td>
      <td>   office.crf@nitk.edu.in </td>
</tr>
<tr> 

      
      <td>   Mr. Kiran</td>
      <td>   kirankumar123639@gmail.com </td>
     
    </tr>
 

    <tr>
      
        <td rowspan="6">Facilities</td>
        <td>Central Computer Centre </td>
        <td>Mr. Subhas</td>
        <td> subhash@nitk.edu.in   </td>
        
      </tr>

      <tr>
        
   
        <td>  Guest House </td>
        <td>Mr. Karunakar </td>
        <td> shyamfec@nitk.edu.in </td>
        
      </tr>

      <tr>
        
     
        <td>  Healthcare Centre </td>
        <td>Mrs. Ashwitha </td>
        <td> ashup24surath@gmail.com</td>
       
      </tr>

      <tr>
        
   
        <td>  Library</td>
        <td>Dr. Mallikarjun A. </td>
        <td>  mallikarjun@nitk.edu.in</td>
        
      </tr>

      <tr>
        

        <td>  Resident Engineer</td>
        <td>Shamith </td>
        <td>  shamithsuvarna123@gmail.com</td>
       
      </tr>

      <tr>
        
        
        <td>   Security</td>
        <td> Sri. Ramprasad Bhat</td>
        <td>  security@nitk.edu.in</td>
        
      </tr>

      <tr>
        <td rowspan="9">Students' Life</td>
        <td>Hostels</td>
        <td>Mr. Deviprasad </td>
        <td>  hosteloffice@nitk.edu.in</td>
        
      </tr>
  
      <tr>
        
       
        <td> Sports</td>
        <td>   Dr. Hem Prasad Nath</td>
        <td>  dr.nath@nitk.edu.in</td>
        
      </tr>
