<div id="<%= dom_id academic_background %>">
  <p>
    <strong>Degree:</strong>
    <%= academic_background.degree %>
  </p>

  <p>
    <strong>College:</strong>
    <%= academic_background.college %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= academic_background.year %>
  </p>

</div>
