<h1>Editing academic background</h1>

<%= render "form", academic_background: @academic_background %>

<br>

<div>
  <%= link_to "Show this academic background", @academic_background %> |
  <%= link_to "Back to academic backgrounds", academic_backgrounds_path %>
</div>
