#button {
  display: inline-block;
  background-color: rgba(25, 46, 89, 255);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%; /* Set border-radius to 50% for a circular shape */
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #fff; /* Adjust the color as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#button:hover {
  cursor: pointer;
  background-color: #16622f;
}

#button:active {
  background-color: #16622f;
}

#button.show {
  opacity: 1;
  visibility: visible;
}
